<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/stylesforgotpass.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
    <div class="wrapper">
        <section>
            <div>
        <form action="" method="post" class="form">
            <!--text and date-->
            <div class="form_rap">
            <div><p>Please fill out your new password.</p></div>
            
           
            <div class="input_rap ">
                <label for="password"> New Password:</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div class="input_rap ">
                <label for="confirmpassword">Confirm Password:</label>
                <input type="password" name="confirmpassword" id="confirmpassword" required>
            </div>
            
    
            <!--Buttons-->
            <div class="buttons">
        
            <p><input type="submit" class="button" id="submitbutton" diplay="inline"></p>
            
            </div>
    
    
    
    

        </div>
        </form>
    </div>
    </section>
    
    <div class="nav">
        <a href="">Login</a>
        <a href="">Signup</a>
        <a href="forgotpassword.html">link</a>
    </div>
    </div>
    
    
</body>
</html>