<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/stylesforgotpass.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
    <div class="wrapper">
        <section>
            <div>
        <form action="" method="post" class="form">
            <!--text and date-->
           <div class="form_rap">


            <div class="input_rap ">
                <label for="email">Confirm Email:</label>
                <input type="email" name="email" id="email" placeholder="name@domain.com" required>
            </div>
            
            <div><p>We will send you an email with a link to reset your password.</p></div>
            
    
            <!--Buttons-->
            <div class="buttons">
        
            <p><input type="submit" class="button" id="submitbutton" diplay="inline"></p>
            
            </div>
        </div>
    
    
    

    
        </form>
    </div>
    </section>
   
    <div class="nav">
        <a href="">Login</a>
        <a href="">Signup</a>
        <a href="changepassword.html">link</a>
    </div>
    
</div>
</body>
</html>