extends default 

block content 
    header 
        a.logo(href='/') Development4Change
        a.logo(href='/search') Search
        a.logo(href='/reports') Reports
        a.logo(href='/login') Logout
        a.logo(href='/signup') Signup
        