<!DOCTYPE html>
<html>
<body>

<h2>Sign UP</h2>

<form class="container" method="post" action="/signup">
  <label for="name">Username:</label><br>
  <input type="text" id="name" name="name" placeholder="John Smith" required><br>
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email" placeholder="Enter Password" required><br>
  <label for="psw">Password:</label><br>
  <input type="password" id="password" name="password" placeholder="Enter Password" required><br>

  <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
    <p><a href="forgotpassword.html">Forgot password?</a></p>
    <p><a href="home.pug">Back</a></p>
</form>

</body>
</html>
