
/* Styling the Body element i.e. Color,
Font, Alignment */
body {
    background-color: #94bdc6;
    font-family: Verdana;
    text-align: center;
}

/* Styling the Form (Color, Padding, Shadow) */
form {
    background-color: #fff;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}


/* Styling form-control Class */
.form-control {
    text-align: left;
    margin-bottom: 25px;
}

/* Styling form-control Label */
.form-control label {
    display: block;
    margin-bottom: 10px;
}

/* Styling form-control input,
select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}

/* Styling form-control Radio
button and Checkbox */
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

/* Styling Button */
button {
    background-color: #c6dfdf;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}

/*Slider CSS*/

  
/*
body {
    background: linear-gradient(to right, red, yellow);
    }
*/
    .slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 60px;
    padding: 30px;
    padding-left: 40px;
    background: #fcfcfc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 15px 40px #7E6D5766;
    }
    .form-control p {
    font-size: 21px;
    font-family: inherit;
    text-align: center;
    padding: 2px;
    color: black;
    }
    .form-control p[name="one"] {
        font-size: 12px;
        font-family: inherit;
        text-align: left;
        padding: 2px;
        color: black;
        }
    .form-control input[type="range"] {
    -webkit-appearance:none !important;
    width: 95%;
    height: 2px;
    background: linear-gradient(to right, rgb(251, 77, 77),rgb(251, 251, 99), rgb(124, 246, 76));
    border: none;
    outline: none;
    }
    .form-control input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 25px;
    height:25px;
    background: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    }
    .form-control input[type="range"]::-webkit-slider-thumb:hover {
        background: black;
    }
